.container {
    display: flex;
    width: 960px;
    background-color: white;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 25px;
}

.trips {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}
.story {
    display: flex;
    width: 640px;
    height: 480px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: red 1px solid;
    border-radius: 15px;
    background-color: aliceblue;
    flex-wrap: wrap;
}
.story_header {
    display: flex;
    width: 480px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.story_author {
    font-family: cursive;
    font-size: 14px;
}
.story_rating {
    font-weight: lighter;
}
.story_title {
    font-size: 18px;
    font-weight: bold;
}
.story_description{
    padding: 25px;
}