.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: url("../../../assets/images/background.jpg") no-repeat;
}
.header {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: whitesmoke;
    flex-wrap: wrap;
}
.header_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 15px 0px 0px;
    flex-wrap: wrap;
}
.header_main_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 15px;
    padding: 15px;
    flex-wrap: wrap;
    font-size: 18px;
}
.header_login{
    background-color: aliceblue;
    flex-wrap: wrap;
    padding: 15px;
    color: red;
    border: red 1px solid;
    border-radius: 25px;
    font-size: 18px;
}
.account_main {
    min-height: 100vh;
}
.container {
    display: flex;
    width: 960px;
    background-color: white;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 25px;
    min-height: 600px;
}

.account_bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    margin: 15px 0px 15px 15px;
}
.bar_main {
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid red;
    border-radius: 10px 120px / 120px;
    background-color: aliceblue;
}
.bar_lease {
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid red;
    border-radius: 10px 120px / 120px;
    background-color: aliceblue;
}
.bar_trip {
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid red;
    border-radius: 10px 120px / 120px;
    background-color: beige;
}
.bar_security {
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid red;
    border-radius: 10px 120px / 120px;
    background-color: aliceblue;
}

.account_data {
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 70%;
}

.trips {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}
.story {
    display: flex;
    width: 640px;
    height: 480px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: red 1px solid;
    border-radius: 15px;
    background-color: aliceblue;
    flex-wrap: wrap;
}
.story_header {
    display: flex;
    width: 480px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.story_author {
    font-family: cursive;
    font-size: 14px;
}
.story_rating {
    font-weight: lighter;
}
.story_title {
    font-size: 18px;
    font-weight: bold;
}
.story_description{
    padding: 25px;
}