.container {
    display: flex;
    width: 960px;
    background-color: white;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 25px;
}

.apart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
}

.apart_info {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 560px;
    background-color: chocolate;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    flex-wrap: wrap;
}

.apart_info_image {
    display: flex;
    /*width: 350px;*/
    /*height: 350px;*/
    border: 1px solid red;
    border-radius: 15px;
    flex-wrap: wrap;
}

.apart_description {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 320px;
    background-color: chartreuse;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-wrap: wrap;
}

.apart_reviews {
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: darkturquoise;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-wrap: wrap;
}

.apart_info_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    flex-wrap: wrap;
}